<div
  class="node"
  *ngIf="node">
  <!--- Node Form. --->
  <app-node-form
    [node]="node"
    [editMode]="editMode"
    (onSave)="toggleName()"
  ></app-node-form>


  <div [hidden]="editMode">
    <div class="d-flex justify-content-between">
      <!--- Display Node Name. --->
      <h4
        class="node__display-name"
        (click)="toggleName()"
      >{{ node.name }}</h4>

      <!--- Add Child Button. --->
      <button
        class="btn btn-primary"
        (click)="addChild()"
      >Add Child</button>

    </div>
    <!--- Children Component. -->
    <app-node-children [children]="node.children"></app-node-children>
  </div>
</div>