<div *ngIf="node" style="width: 20rem;">
  <!--- Node Form. --->
  <app-node-form
    [node]="node"
    [editMode]="editMode"
    (onSave)="toggleName()"
  ></app-node-form>

  <!--- Display Node Name. --->
  <h4
    (click)="toggleName()"
    [hidden]="editMode"
  >{{ node.name }}</h4>

  <!--- Children. --->
  <div [hidden]="editMode">
    <button
      (click)="addChild()"
      class="btn btn-primary"
    >Add Child</button>
    <app-node-children [children]="node.children"></app-node-children>
  </div>
</div>