<div
  class="node-form"
  [hidden]="!editMode"
>
  <!--- Error Messages for Node Form - name. --->
  <div
    class="text-danger"
    *ngIf="(name.errors | json) !== '{}'"
  >
    <span *ngIf="name.dirty && (name.errors && name.errors.required)">
      Name is required
    </span>
  </div>

  <!--- Node Form. --->
  <form name="node-form__input-group" class="input-group">
    <input
      name="name"
      class="form-control"
      placeholder="name"
      required
      [(ngModel)]="node.name"
      #name="ngModel"
    />

    <div class="input-group-append">
      <button
        class="btn btn-success"
        (click)="submit()"
        [disabled]="name.errors"
      >Save</button>
    </div>
  </form>
</div>