<div [hidden]="!editMode">
  <div
    *ngIf="(name.errors | json) !== '{}'"
    class="text-danger"
  >
    <span *ngIf="name.dirty && (name.errors && name.errors.required)">
      Name is required
    </span>
  </div>
  <div class="input-group">
    <input
      [(ngModel)]="node.name"
      class="form-control"
      required
      placeholder="name"
      #name="ngModel"
    />
    <div class="input-group-append">
      <button
        (click)="submit()"
        [disabled]="name.errors"
        class="btn btn-success"
      >Save</button>
    </div>
  </div>
</div>