<div class="d-flex justify-content-between">
  <label>Children: </label>

  <!--- Hide Children Checkbox. --->
  <div>
    <input
      type="checkbox"
      class="form-check-input"
      id="hide-children-checkbox"
      [(ngModel)]="hideChildren"
    >
    <label class="form-check-label mb-0">Hide Children</label>
  </div>
</div>

<div>

  <!--- List of Children. --->
  <ul
    *ngIf="children"
    [hidden]="hideChildren"
  >
    <li
      class="pb-3"
      *ngFor="let child of children; let i = index"
      [attr.data-index]="i"
    >
      <app-node></app-node>
      <button
        class="btn btn-danger text-center"
        (click)="delete(i)"
      >Delete Child</button>
    </li>
  </ul>

</div>