<div class="d-flex justify-content-between">
  <label>Children: </label>

  <!--- Hide Children Checkbox. --->
  <div>
    <input
      type="checkbox"
      class="form-check-input"
      id="hide-children-checkbox"
      [(ngModel)]="hideChildren"
    >
    <label class="form-check-label">Hide Children</label>
  </div>
</div>

<div>

  <!--- List of Children. --->
  <ul
    *ngIf="children"
    [hidden]="hideChildren"
  >
    <li *ngFor="let child of children">
      <app-node></app-node>
    </li>
  </ul>

</div>